SOURCE: https://www.wonderschool.com/blog/child-care-provider-resources/family-child-care-licensing-training-requirements-in-california
DATE_SCRAPED: 2026-05-01

California family child care licensing: Training requirements
By Wonderschool
By
If you plan to open your own Family Child Care Home in California, you will have to meet certain training requirements. The training requirements will depend on which type of family child care you open. Here’s what you need to know about training if you plan to open a Small Family Child Care Home or a Large Family Child Care Home in California:
Health and Safety Training
Before you can be licensed to operate a child care facility in California, you must receive a minimum of 16 hours of training in 3 areas:
EMSA-certified Pediatric First Aid & CPR
EMSA-certified Preventive Health Practices
Training for Mandated Reporting
Community Care Licensing does not directly provide this training. Instead, training approved by the Emergency Medical Services Authority (EMSA) and offered by other organizations will enable you to master the skills and techniques you need to keep children well and safe.The required training shall not be provided by a home study course. This training may be provided through in-service training, workshops, or classes. Also, you’ll need documentation that you’ve received the required training from an approved resource before Community Care Licensing can issue your license.
Health & safety training required of staff and volunteers at a Family Child Care Home
During daily operations, if the licensee is absent from the facility, there must be one person on site who has completed pediatric CPR and pediatric first aid. Licensees of family child care homes must make sure that at least one staff member with a current, approved course completion card in pediatric first aid and pediatric CPR is on site at all times when children are present, and with the children when they are off site for facility activities.Although encouraged to, this person is not required to complete the preventive health practices training. Remember, only after everyone required has completed all 16 hours of health and safety training by an approved resource will your facility be licensed to open and accept children for care.
Mandated Reporter Training
Mandated Reporter Training provides an overview of the significant definitions, requirements and protections of the California Child Abuse & Neglect Reporting Act. You will learn:
How the law defines child abuse and neglect
What the law requires of you as a mandated reporter
What protections the law provides for a mandated reporter
How to spot evidence of child abuse
How to report child abuse
What happens after a report is filed
Definitions of some of the terms used in this program
This training may take you up to 4 hours to complete. You will receive a Certificate for your records upon completion of the training.
Beginning January 1, 2018, Health and Safety Code 1596.8662 requires all licensed providers, applicants, directors and employees to complete training as specified on their mandated reporter duties and to renew their training every two years.
Pediatric cardiopulmonary resuscitation (CPR) and pediatric first aid training shall be current at all times. Training in preventive health practices is a one-time requirement for each family day care home licensee. Mandated Reporter Training must be renewed every 2 years.
Training and Educational Resources
Child Care Resource and Referral Agencies (R&Rs)
: Child Care Resource and Referral Agencies (R&Rs) are located throughout the State and provide free help to parents and providers. To find out more, visit their website by clicking on the following link:
Child Care Resource and Referral Agencies (R&Rs)
. Contact your local R&R to inquire further about training and services that may be available.
Child Care Videos for Providers and Parents
: The
Child Care Videos for Providers and Parents
found on The
California Child Care Licensing: Resources for Parents and Providers
website addresses three user groups: 1) child care center operators, 2) family child care providers, and 3) parents and families. Within each category, you will find topics tailored to the needs of that specific group. Each topic on the website contains videos and resources designed to benefit prospective and current child care providers, families who are seeking child care for the first time, and families with children in care.
California Emergency Medical Services Authority (EMSA)
approves training programs for child care providers for Pediatric First Aid/CPR and Preventive Health Courses.
Family Child Care At Its Best
funded by the Child Development Division of the California Department of Education, the Family Child Care at its Best program delivers university-based, continuing education to licensed and license-exempt providers. Offered statewide, this series of classes helps providers improve their knowledge, skills and quality of care. Options for both academic credit and continuing education units are available.
PediaLink
Child Care Courses created by the American Academy of Pediatrics online learning center courses including:
Reducing the Risk of SIDS in Early Education and Child Care
: Participants of this free course will learn how to create a safe sleep environment to reduce the risk of sudden infant death syndrome (SIDS) and other sleep related deaths in child care.The Reducing the Risk of SIDS in Early Education and Child Care online module can be used by child care providers, healthcare professionals, public health educators, or just about anyone who cares for babies.
Preventing and Managing Infectious Diseases in Early Education and Child Care
: This course provides you with reliable national resources for guidance on preventing and managing infectious diseases and is designed for everyone who cares for children, including health care professionals and child care providers.
Zero to Three
works to ensure that babies and toddlers benefit from the early connections that are critical to their well-being and development by providing training for child care providers and caregivers.
Child Care Aware Training Academy
has online training programs which are used by providers and R&R staff across the United States, offering: Center-Based Training, Family Child Care Training, General Training and Webinars & Blended Learning.
Child Care Provider Associations
There is a broad network of child care provider associations that advocate for children and families and provide valuable resources and information to licensees of Family Child Care Homes and Child Care Centers.
The
California Association for Family Child Care
(CAFCC) is one of many associations that have set up a cooperative link with the child care community. More information on CAFCC and a list of other family child care associations is available on their website.
The
Professional Association for Childhood Education
(PACE) is a nonprofit, tax-exempt, and membership-based organization that promotes excellence in education and quality child care in private center-based programs.
Californians for Quality Early Learning
(CQEL) aims to advance early learning quality by supporting programs in integrating best practices and advocating for thriving mixed delivery systems for children and families.
The
California Association for the Education of Young Children
(CAEYC) serves and acts on behalf of the needs and rights of young children with primary focus on the provision of educational services and resources to adults who work with and for children from birth through age eight.
The
National Association for the Education of Young Children
(NAEYC) is dedicated to improving the well-being of all young children, with particular focus on the quality of educational and developmental services for all children from birth through age 8.
The
California Alternative Payment Program Association
(CAPPA) was created to serve as a voice for a mixed delivery system of public and private community based agencies dedicated to connecting poor families and their children to child care and early learning. CAPPA provides ongoing support services to child care programs and providers and access to information and connection to child nutrition programs, resource libraries, and continuing education opportunities.
The
National Association for Family Child Care
(NAFCC) is working to prioritize the role of family child care and promote access, affordability and quality of early care and education. NAFCC is the only professional association dedicated specifically to promoting high-quality early childhood experiences in the unique environment of family child care programs.
Sources:
California Department of Social Services (CDSS)
,
CDSS Family Child Care Home Provider Requirements
,
Title 22: Family Child Care Homes
,
CDSS Resources for Providers
,
California Health and Safety Code HSC 1596.866
