SOURCE: https://www.wonderschool.com/blog/child-care-provider-resources/texas-family-child-care-licensing-training-requirements
DATE_SCRAPED: 2026-05-01

Texas family child care licensing: Training requirements
By Wonderschool
By
If you plan to open your own family child care in Texas, you will have to meet certain training requirements. The training requirements will depend on which
type of family child care
you open: a listed, registered, or licensed one. There are no training requirements to open a Listed Family Home.Here's what you need to know about training if you plan to open a Registered Child Care Home or a Licensed Child Care Home in Texas as the primary caregiver:
Required training for primary caregivers of a Licensed or Registered Child Care Home
You must have
the following training
:
Annual training:
30 clock hours of annual training
First aid and CPR training
: Current first-aid and CPR training
Additional Transport Training:
If you transport children whose chronological or developmental age is younger than nine years old, you'll need transportation safety training
Required annual training
You must obtain at least 30 clock hours of training each year relevant to the age of the children for whom you provide care.
The 30 clock hours of annual training are exclusive of any requirements for the licensing Pre-application Course, first-aid and CPR training, and transportation safety training.
At least six clock hours of the annual training hours must be in one or more of the following topics:
Child growth and development;
Guidance and discipline;
Age-appropriate curriculum; and
Teacher-child interaction.
If your home provides care for children younger than 24 months, one hour of the annual training hours must cover the following topics:
Recognizing and preventing shaken baby syndrome;
Understanding and using safe sleep practices and preventing sudden infant death syndrome (SIDS); and
Understanding early childhood brain development.
The annual training hours must also include training on the following topics (no clock hour requirements):
Emergency preparedness;
Preventing and controlling the spread of communicable diseases, including immunizations;
Administering medication
Authorization to administer medication to a child in your care must be obtained from child’s parent:
In writing, signed and dated;
In an electronic format that is capable of being viewed and saved; or
By telephone to administer a single dose of a medication.
Authorization to administer medication expires on the first anniversary of the date the authorization is provided.
The child’s parent may not authorize you to administer medication in excess of the medication’s label instructions or the directions of the child’s health-care professional.
Parent authorization is not required if you administer a medication to a child in a medical emergency to prevent the death or serious bodily injury of the child, provided that you administer the medication as prescribed, directed, or intended.
Preventing and responding to emergencies due to food or an allergic reaction;
Understanding building and physical premises safety, including identification and protection from hazards that can cause bodily injury such as electric hazards, bodies of water, and vehicular traffic;
Handling, storing, and disposing of hazardous materials
Caregivers must follow universal precautions outlined by the Centers for Disease Control (CDC) when handling blood, vomit, or other bodily fluids that may contain blood including:
Using disposable, nonporous gloves;
Placing gloves contaminated with blood in a tied, sealed, or otherwise closed plastic bag and discarding them immediately;
Discarding all other gloves immediately after one use; and
Washing your hands with soap and running water after using and disposing of the gloves.
If you have five or fewer years of experience
as a primary caregiver in a licensed or registered child-care home, you must complete at least six of the annual training hours in management techniques, leadership, or staff supervision
If you have more than five years of experience
as a primary caregiver in a licensed or registered child-care home, you must complete at least three of the annual training hours in management techniques, leadership, or staff supervision.
The remainder of annual training hours must be selected from the following training topics
Care of children with special needs;
Child health (for example, nutrition and physical activity);
Safety;
Risk management;
Identification and care of ill children;
Cultural diversity of children and families;
Professional development (for example, effective communication with families and time and stress management);
Topics relevant to the particular ages of children in care (for example, caregivers working with infants or toddlers should receive training on biting and toilet training);
Planning developmentally appropriate learning activities;
Observation and assessment;
Attachment and responsive care giving; and
Minimum standards and how they apply to the caregiver.
No more than 80% of the required annual training hours may come from self-instructional training. No more than three of those self-instructional hours may come from self-study training.
For more information, see
Texas DFPS: Minimum Standards for Child-Care Homes
(page 44 - 45)
First Aid and CPR Training
The primary caregiver and any substitute caregiver must have current training in first aid with rescue breathing and choking. Pediatric first aid is preferred, but not required.
The primary caregiver and any substitute caregiver, and one assistant caregiver for each group of children in care away from the child care home must have current training in CPR for infants, children, and adults.
CPR training and recertification must adhere to the guidelines for cardiopulmonary resuscitation (CPR) for laypersons established by the American Heart Association, and consist of a curriculum that includes the use of a CPR mannequin and both written and hands-on skill-based instruction, practice, and testing.
CPR training must not be obtained through self-instructional training.
Additional transport training
A caregiver must complete two hours of annual training on transportation safety in order to transport a child whose chronological or developmental age is younger than nine years old. This training is in addition to other required training hours.
The caregiver must obtain these two hours of transportation safety training prior to transporting children.
When must the annual training be obtained?
The annual training for a primary caregiver must be obtained within 12 months from the date you are registered or licensed and during each subsequent 12-month period.
The annual training for each assistant caregiver and substitute caregiver must be obtained within 12 months from the date of the caregiver’s employment and during each subsequent 12-month period.
If a caregiver obtains more than the minimum number of annual training clock hours required, the caregiver may not carry the additional hours over to the next year.
For more training information for child care providers in Texas, please see the following resources:
Child Care Trainer Requirements
Online Training for Child Care Providers
Texas Early Childhood Professional Development System
Reporting Suspected Abuse or Neglect of a Child: A Guide for Education Professionals
Sign Up
