SOURCE: https://www.wonderschool.com/blog/child-care-provider-resources/texas-family-child-care-licensing-home-requirements
DATE_SCRAPED: 2026-05-01

Texas family child care licensing: Home requirements
By Wonderschool
By
To open your family child care in Texas, your home must meet certain requirements. We have documented the requirements for your indoor space as well as outdoor space according to the DFPS below. Do note that these requirements only apply to Registered or Licensed Family Homes, not for Listed Homes.
Indoor space requirements
Your Registered or Licensed child care home must have at least 30 square feet of indoor useable activity space for each child in care. The DFPS will limit the number of children you may care for based on the indoor useable activity space in the child-care home.
What does Licensing mean by “indoor useable activity space?
Indoor useable activity space is space that may be used by a child in the child care home for a variety of activities. You must demonstrate to us how the space will be used for at least the following activities:
Use of cribs and space to explore outside of the crib;
Use of interest centers or activity stations;
Space for meals and snack time;
Space for individual and group activities; and
Space for nap or rest time.
Am I required to care for children younger than 18 months separately from older children?
No, but you must be close enough to the younger children to interact with them and to intervene, if needed, to protect them.
How does Licensing determine the indoor useable activity space?
They determine indoor useable activity space by:
Measuring all indoor useable activity space from wall to wall on the inside at floor level;
Rounding all measurements up to the nearest inch;
Excluding single-use areas, which are areas not routinely used for children's activities, such as a bathroom, hallway, storage room, cooking area of a kitchen, swimming pool, and storage building; and
Excluding floor space occupied by permanent and stationary fixtures, such as bookcases, shelving, and storage/counter space, that is not intended for use by the children.
They use the sum of the measurements to calculate the indoor useable activity space and to determine the maximum number of children you may care for.
Local ordinances or fire marshals may have additional restrictions or limitations on the numbers of children the indoor activity space will accommodate.
May other programs use my indoor useable activity space at the same time I have children in care?
No. You must not share the indoor useable activity space with other programs at the same time you have children in care.
Programs such as girl scouts, cub scouts, or other club or organizational activities conducted during operating hours in the activity space used for child care results in overcrowding and may place all of the children in the child-care home at risk, unless the only children attending these programs are the children in child care.
May I care for children above or below ground level?
You must not care for children on any level above or below ground level without written approval from the state or local fire marshal.
Care for children above or below ground level entails different safety measures that must be considered to ensure safe evacuation of children in an emergency.
Outdoor space requirements
Your Registered or Licensed child care home must have 80 square feet of outdoor activity space for each child using the outdoor area at one time.
The National Association for the Education of Young Children affirms that adequate outdoor space for play is necessary for the development of gross motor (large muscle) skills and to provide children with fresh air and sunshine.
Must I fence the outdoor activity space area?
You must enclose your outdoor activity space area with a fence at least four feet high, unless the only children using the outdoor area are five years old and older. The wall of a building may serve as part of the enclosure, provided it is at least four feet tall.
Enclosed outdoor areas keep pre-kindergarten age and younger children in a controlled area for their safety and ease of supervision.
How many exits must I have from my fenced outdoor activity space area?
Each fenced yard must have at least two exits. An entrance to your child care home may count as one exit, but one exit must be away from the child care home.
May I keep the gates leading into my outdoor activity area locked while children are in care?
Yes, but caregivers must be able to open the gates immediately in an emergency. For example, all caregivers would carry a key with them to open the locked exits. Caregivers must be able to demonstrate to Licensing staff that they can open the gate immediately.
Must the outdoor activity space area be connected to the child care home?
Licensing must approve a plan to use an outdoor activity space area that is not connected to your child care home, such as a nearby park, schoolyard, or another alternative. All outdoor activity areas used by children must be accessible from the home by a safe route. Licensing will consider the following criteria before approving the plan:
Traffic patterns of vehicles and people in the area;
Ages of children in your care;
Availability of appropriate equipment;
Usage of the location by other groups when the children would be most likely to use it;
Neighborhood circumstances, hazards, and risks, including the crime rate for the area;
Accessibility to children and caregivers by foot or the availability of push carts or other means of transporting infants and toddlers;
Reasonable accessibility of restroom facilities; and
Ability to obtain assistance, if needed, when injury or illness occurs.
If Licensing approves an outdoor activity area not connected to your child-care home, you must:
Give parents written notification of the location of the outdoor activity area, upon children’s enrollment; and
Supervise children both during play and while traveling to and from the activity area.
May other programs use the outdoor activity space at my child care home at the same time I have children in care?
No. You must not share the outdoor activity space at your child-care home with other programs at the same time children are in care.Source:
Texas DFPS: Minimum Standards for Child-Care Homes
(pages 121 - 125)
Toilets and sinks
You must have at least one sink and one flush toilet available for children’s use. A urinal may not substitute for a toilet. Sinks and toilets must be located inside the child-care home and allow supervision by caregivers as needed. Children must be able to safely and independently access the toilet. Children must be able to safely and independently access the sink for hand washing.
Must I supply soap and disposable towels for children’s use?
You must equip sinks children use for hand washing with soap and running water. Single-use disposable towels or an individual towel labeled with the child’s name may be provided for children to dry their hands.
May potty-chairs be used?
Yes. You may use potty-chairs, but a potty chair is not a substitute for the required flush toilet. You must still have at least one sink and one flush toilet available for children’s use. A urinal may not substitute for a toilet.
Do I have to use toilets and sinks that are sized for children?
No, but you must equip a sink, urinal, or toilet that is too high for children to use safely and independently with anchored steps or a broad-based platform with a non-slip surface.
May the doors to the restrooms have locks on them?
Yes. Doors on restrooms and toilets used by children may have locks, although:
Locks must be out of children’s reach; or
If locks are within children’s reach, there must be a way to immediately open the door from the outside in an emergency, and:
The unlocking mechanism must be accessible to all caregivers at all times and must be demonstrated satisfactorily to Licensing staff upon request; and
A caregiver must be present in or near the restroom when children younger than five years are using restrooms with door locks within children’s reach.
Caregivers need immediate access to young children to assist with toileting or to provide supervision, while older children may need privacy.
Furniture and equipment
Must I use child-sized tables and chairs for children?
No, but you must ensure that any table or chair used by a child is safe, easy to clean, and of a height and size that the child can use it safely and easily.
If the manufacturer requires safety straps on a chair, then the safety straps must be fastened whenever a child is using the chair.
Must I provide a cot or mat for each child to sleep or rest on?
Yes. You must provide or have the parent provide an individual cot, bed, or mat that is waterproof or washable for each walking child through four years to sleep or rest on.
Cots, beds, or mats must be labeled with the child's name. As an alternative, you may label cots, beds, or mats with a number and have a number/child assignment map available.
Floor mats used for napping must be marked or colored so that the sleeping side can be distinguished from the floor side.
Must I have storage for each child’s individual belongings?
Yes. You must have individual lockers, cubicles, baskets, separate hooks and shelves, or other adequate storage space for each child’s personal belongings. You must clearly label the storage space with the child’s name, a photograph of the child, or another symbol the child recognizes.
Must I have a telephone at my child care home?
Yes. You must have a working telephone or cellular phone at your child-care home with a listed telephone number.
A working telephone is necessary for routine and emergency outgoing and incoming calls. A listed telephone number ensures parents and others may contact the caregiver when necessary.
May I have indoor lofts?
You may have an indoor loft that is designed and used as an extension of the learning area, if you comply with the following safety standards:
Caregivers must be able to adequately supervise children at all times;
Stairs and steps, regardless of height, must have handrails the children can reach. Rung ladders do not require handrails;
You must not care for children on any level above or below ground level without written approval from the state or local fire marshal.
Platforms over 20 inches in height must be equipped with protective barriers that prevent children from crawling over or falling through the barrier, or becoming entrapped; and
If lofts are used as indoor active play space or equipment they must comply with the requirements specified under “Indoor and Outdoor Active Play Space and Equipment”.
Indoor and outdoor active play space and equipment
Indoor and outdoor active play equipment used both at and away from the child care home must be safe for the children:
The indoor and outdoor active play equipment must be arranged so that caregivers can adequately supervise children at all times;
The design, scale, and location of the equipment must be used according to the manufacturer's instructions;
Equipment must not have openings or angles that can entrap a child’s body or body part that has penetrated the opening;
Equipment must not have protrusions or openings that can entangle something around a child’s neck or a child’s clothing;
Equipment must be securely anchored according to manufacturer’s specifications to prevent collapsing, tipping, sliding, moving, or overturning;
All anchoring devices must be placed below the level of the playing surface to prevent tripping or injury resulting from a fall;
Equipment must not have exposed pinch, crush, or shear points on or underneath it;
Porches or platforms more than 20 inches in height for pre-kindergarten and younger children, and more than 30 inches in height for school-age children, must be equipped with protective barriers that surround the elevated surface, except for entrances and exits and that prevent children from crawling over or falling through the barrier, or becoming entrapped; and
Stairs and steps on climbing equipment, regardless of height, must have handrails the children can reach. Rung ladders do not require handrails.
Climbing equipment, swings, or inflatables must not be installed over asphalt or concrete, unless the asphalt or concrete is covered with properly installed unitary surfacing material. Unitary surfacing materials are manufactured materials including rubber tiles, mats, or poured in place materials cured to form a unitary shock-absorbing surface. If you use unitary materials, they must be installed and maintained according to manufacturer’s specifications. Unitary materials may be installed over concrete or asphalt, only if recommended by the manufacturer.
Head entrapment by head-first entry generally occurs when children place their heads through an opening in one orientation, turn their heads to a different orientation, then are unable to withdraw from the opening. Head entrapment by feet-first entry involves children who generally sit or lie down and slide their feet into an opening that is large enough to permit passage of their bodies – greater than 3 ½” – but is not large enough to permit passage of their heads – less than 9”
What special maintenance procedures must I follow for my active play space and equipment?
You or someone you designate must inspect the indoor and outdoor active play space and equipment daily before children go out to play to ensure there are no hazards present.
You must ensure hazards or defects identified during the daily inspections are repaired promptly and must arrange for protection of the children, or you must prohibit the use of the hazardous equipment until repairs can be made.
If needed, additional information is available on:
Swings
Playground Use Zones
Playground Surfacing
Inflatables
Swimming Pools, Wading/Splashing Pools, and Sprinkler Play
Fire inspection
The Licensing department does not regulate fire inspections and does not require that you have a fire inspection as part of the minimum standards; however, your local ordinances may require one. If you want to care for children above or below the ground floor of your child-care home, you must obtain written approval from the state or local fire marshal.Source:
Texas DFPS: Minimum Standards for Child-Care Homes
(page 141)For more information on home requirements, see the
Texas DFPS: Minimum Standards for Child-Care Homes
.
Sign Up
